<div class="container adsense">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- torne-se um programador -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2755599186248333"
       data-ad-slot="2092061608"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>