<div class="container form">
  <div id="email_container">
    <p>
      Quer receber aviso de aulas por email? cadastre seu nome e email abaixo:
    </p>
    <div class="nom">
      <label for="nome">Nome: </label><input type="text" id="nome" >
    </div>
    <div class="eml">
      <label for="email">Email: </label><input type="text" id="email" >
    </div>
    <div class="btn">
      <a href="javascript:void(0)", onclick="app.saveMail();" class="button" value="Salvar">Salvar</a>
    </div>
  </div>
</div>