<header>
  <div id="logo">
    <a href="/">
      <img src="/imagens/icon.png" width="30" heigth="30">
    </a>
  </logo>
  </div>
  <div id="nome_site">
    <a href="/">Projeto torne-se um programador</a>
  </div>
  <div id="lupa">
    <a href="javascript:void(0);">
      <img src="/imagens/lupa.png" width="30" heigth="30">
    </a>
  </div>
  <div id="findAula">
    <input type="text" id="aula" placeholder="Procurar aulas">
    <a href="javascript:void(0);" class="button">Buscar</a>
  </div>
</header>
<div class="load_container">
  <p class="carregando" style="display:<%= display_loading %>">Carregando</p>
</div>