<title><%= title %></title>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,user-scalable=no">
<link rel="icon" href="/imagens/icon.png" />
<link rel="stylesheet" href="/stylesheets/global.css">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@didox">
<meta property="twitter:title" content="Projeto torne-se um programador - Aprenda a desenvolver soluções">
<meta property="twitter:description" content="Com ele você irá aprender tudo que precisa para se tornar um programador.">
<meta property="twitter:image" content="http://www.torneseumprogramador.com.br/imagens/facebookCover.png">

<meta property="og:site_name" content="Projeto torne-se um programador">
<meta property="og:title" content="Projeto torne-se um programador - Aprenda a desenvolver soluções">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.torneseumprogramador.com.br/">
<meta property="og:image" content="http://www.torneseumprogramador.com.br/imagens/facebookCover.png">
<meta property="og:description" content="Com ele você irá aprender tudo que precisa para se tornar um programador.">