<div class="container pague">
  <div class="pague">
    <div>
    	Esclareça suas dúvidas em aulas particulares e pague somente R$ 30,00 a hora aula.
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHdwYJKoZIhvcNAQcEoIIHaDCCB2QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA6hYi8zZDPH0STq3kEzgdG621PldJYo7hYJf/SkUlhFORFJbbyNy+jJnNQhZ09J4SpwfuDvudE1tZcwZ/JQmVRSJF06wNyFeMVFxQFovhOkt4okEo07Xea3+tECTaciGWbR0W4tU36dtg0YbtNjo024Qd46TrMUzj4vsvsMXuckTELMAkGBSsOAwIaBQAwgfQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIyM80DCuBuUmAgdCs9iDM29qbbQ8uTC1ixW2SO5yIb1sQgZ+wsCtMnHA/mm7AY9Xp6gX9ju2io4WYqlpdS0ezePLeqmufEz9TojOmIZ1arEMvaE7/hyr06g/p7eNY4mLWjISODo/z6KYm77FV2Rjb9oG86aFnRquEW/g5b2FOKko9NCLBZNqvVStMAfxMPy/gaIWPMp0H9eqy1MQPBMiTlIO/rpDhhyYNEh9dTRSifSiiS7qxiTw6Cb+/D2mR1l/s9y298+2Io0daBGEW2E6elZlLPJpDqI3m9kDqoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUxMTE0MjEwNDUwWjAjBgkqhkiG9w0BCQQxFgQU+ck+gMkWETxNoUmaXSPCm6Ffts4wDQYJKoZIhvcNAQEBBQAEgYBQC86N/aL8H3bcFMzzpbAsXHOFw84XDoN5LQWrbPz5hniD5mfgiUZKXtz8T1ZWjtqS3vRbvcXEdn2QNdq/WMVxVzTDXSWGJ6+t6lIu2OKZnpNhuI8vZBrBQZD/ilHkh10ytY/cDd89zuOgVRUrKHE0ZYEYnEsbeSd2HTxd/UxfzQ==-----END PKCS7-----
      ">
      <input type="image" src="http://www.torneseumprogramador.com.br/imagens/pague-paypal.png" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
    </form>
    <a href="https://play.google.com/store/apps/details?id=com.tokpag" id="linkTokePag" target="_blank" >
      <img src="/imagens/pague-tokepag.png">
    </a><br>
    <a href="https://play.google.com/store/apps/details?id=com.itau" id="linkItauApp" target="_blank" >
      <img src="/imagens/transferencia-itau.png">
    </a><br>
    <div>Entre em contato: danilo.aparecido.santos@gmail.com</div>
  </div>
</div>