<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Projeto torne-se um programador - empresas" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'none'}) %>
    <div class="container">
      <div>
        <h3>Projeto torne-se um programador para as empresas</h3>
        <p>
          Olá empresas, o video abaixo explica bem os beneficíos que vocês podem obter entrando para o projeto.
        </p>

        <iframe class="fluxo_video" onload='app.hideLoading()' src='https://www.youtube.com/embed/1LIThTgWHJg' frameborder='0' allowfullscreen>
        </iframe>
        <p class="fluxo">
          Fluxo: <a href="/fluxo_empresas.html" target="_blank"> link </a>
        </p>

      </div>
      <br>
      <div class="buttons sobre">
        <a class="button" href="/sobre">Voltar</a>
      </div>
    </div>
    <%- include('../shared/adsense') %>
    <%- include('../shared/footer') %>
  </body>
</html>
