<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Projeto torne-se um programador - sobre" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'none'}) %>
    <div class="container">
      <div>
        <h3>O que é o projeto torne-se um programador</h3>
        <p>
          Você sabia que uma das profissões que mais tem empregabilidade e rentabilidade no mundo é desenvolvedor de sistemas? Já pensou em ser um? Tem vontade?
        </p>
        <p>
          O grande objetivo é preparar as pessoas da nova geração ou da geração atual, a se colocar ou recolocar em um mercado muito abundante e rentável, onde contém empregos em todos os lugares do mundo, mercado de Tecnologia.
Com o sistema de bootcamp procuro pessoas que tenham vontade de treinar outras pessoas para montar seu próprio negócio, assim criando startups interligadas com o pensamento de virar uma grande franquia no ramo de desenvolvimento de sistemas.
        </p>

        <p class="aluno">
          <p>
            <b>O que é o Projeto torne-se um programador para o aluno</b>
          </p>
          <p>
            Clique na imagem abaixo para entender
          </p>
          <a class="fluxo" href="/sobre/alunos">
            <img title="Clique para entender" src="/imagens/fluxo_alunos.png">
          </a>
          <p>
            Imagem: <a class="fluxo" href="/imagens/fluxo_alunos.png" target="_blank">link</a>
          </p>
        </p>

        <p class="empresas">
          <p>
            <b>O que é o Projeto torne-se um programador para as empresas</b>
          </p>
          <p>
            Clique na imagem abaixo para entender
          </p>
          <a class="fluxo" href="/sobre/empresas">
            <img title="Clique para entender" src="/imagens/fluxo_empresas.png">
          </a>
          <p>
            Imagem <a class="fluxo" href="/imagens/fluxo_empresas.png" target="_blank">link</a>
          </p>
        </p>

        <p class="tornese">
          <p>
            <b>Futuro do Projeto torne-se um programador</b>
          </p>
          <p>
            Clique na imagem abaixo para entender
          </p>
          <a class="fluxo" href="/sobre/objetivo">
            <img title="Clique para entender" src="/imagens/torne-se-image.jpg">
          </a>
          <p>
            Imagem: <a href="/imagens/torne-se-image.jpg" target="_blank"> link </a>
          </p>
        </p>

        <p class="professor">
          <b>Professor:</b> Danilo Aparecido dos Santos <a href="https://www.linkedin.com/in/danilo-aparecido-dos-santos-03101034" target="_blank"> Linkedin </a>
        </p>

        <p class="contato">
          <div>
            <b>Hangouts:</b> danilo.aparecido.santos@gmail.com
          </div>
          <div>
            <b>Skype:</b> didox_59
          </div>
          <div>
            <b>Whatsapp:</b> 05511 97614-4154
          </div>
        </p>

        <p class="aplicativo">
          <b>Aplicativo Android:</b> <a href="https://play.google.com/store/apps/details?id=com.didox.programador" target="_blank"> download </a>
        </p>
        <p class="informacoes">
          <b>Facebook:</b> <a href="https://www.facebook.com/Projeto-Torne-se-um-programador-1588864738032373/" target="_blank"> Fã Page </a>
        </p>
        <p class="informacoes-youtube">
          YouTube: <a href="javascript:app.openUrl('https://www.youtube.com/playlist?list=PLEdPHGYbHhle3ZM7xZaEnPF7RF3d2sUJU');">PlayList</a>
        </p>
        <p class="copyright">
          Uma iniciativa Didox Business & Technology
        </p>

      </div>
      <br>
      <div class="buttons sobre">
        <a class="button" href="/">Voltar</a>
      </div>
      <div class="voltarTopo">
        <a href="#">
          <img src="/imagens/voltar-topo.png">
        </a>
      </div>
    </div>
    <%- include('../shared/adsense') %>
    <%- include('../shared/footer') %>
  </body>
</html>
